* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

table {
    margin: 8px;
    border-collapse: collapse;
    border: 2px solid black;
}

th {
    padding: 8px 16px;
    font-size: 1.3em;
    background-color: lightgreen;
}

td {
    padding: 4px 16px;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}